/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left: initial;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent: 0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:750px; height:1294px; }
.page-scale-wrap { width:750px; height:1294px; background: #fff !important; }
.paper-vertical { width:750px; height:100%; }
.paper-horizontal { width:6080px; height:1306px; }
/* ColorBox Core Style:The following CSS is consistent between example themes and should not be altered. */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* Colorbox User Style: */
#colorbox{
	border-radius:12px;
    box-shadow:0 0 10px 10px #CCCCCC;
}
    #colorbox, #cboxOverlay, #cboxContent, .cboxIframe, #cboxLoadedContent, #cboxLoadingOverlay { background:#fff; }
    #cboxContent{ overflow:hidden;}
    #cboxMiddleLeft, #cboxMiddleRight { width:8px; }
    #cboxTopCenter{ height:24px; } 
    #cboxBottomCenter { height:8px; }
	#cboxError{padding:50px;}
	#cboxLoadedContent{margin-top:28px;}
	#cboxTitle, #cboxCurrent { position:absolute; top:4px; left:0; color:#949494; }
	#cboxTitle{ text-align:center; width:100%; }
	#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
	#cboxPrevious, #cboxNext { position:absolute; top:50%; margin-top:-32px; width:33px; height:65px; text-indent:-9999px;}
	#cboxPrevious{left:0px; background:url(../images/lb_controls.png) no-repeat top left; }
	#cboxNext{right:0px; background:url(../images/lb_controls.png) no-repeat top right; }
	#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
	#cboxClose{position:absolute; top:2px; right:0px; display:block; background:url(../images/lb_controls.png) no-repeat top center; width:26px; height:24px; text-indent:-9999px;}
@media all and (max-height:1294px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:750px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
.flipwrap {
	-webkit-perspective:800px;
	perspective:800px;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.mso.flipcard-side,.mso.flipcard-up {
	width:100% !important;
	height:100% !important;
}
.flipwrap > .mso > .state {
	-webkit-transition:-webkit-transform 1s;
	transition:transform 1s;
}
.mso.flipcard-side > .state, .mso.flipcard-up > .state {
	display:block;
	opacity:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	pointer-events:auto;
}
.mso.flipcard-side > .state:nth-child(2) {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.mso.flipped.flipcard-side > .state:nth-child(2), .mso.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.mso.flipped.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.mso.flipcard-up > .state:nth-child(2) {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}
.mso.flipped.flipcard-up > .state:nth-child(2), .mso.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}
.mso.flipped.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
.presmode.fsmode:-webkit-full-screen {cursor:none;}
.presmode.fsmode:-ms-full-screen {cursor:none;}
.presmode.fsmode:-moz-full-screen {cursor:none;}
.presmode.fsmode.cursor-move {cursor:auto;}
.fs-hide-nav:-webkit-full-screen nav#page-nav > button {display:none !important;}
.fs-hide-nav:-ms-full-screen nav#page-nav > button {display:none !important;}
.fs-hide-nav:-moz-full-screen nav#page-nav > button {display:none !important;}
.fs-hide-viewdisp:-webkit-full-screen #viewer-options-wrap {display:none !important;}
.fs-hide-viewdisp:-ms-full-screen #viewer-options-wrap {display:none !important;}
.fs-hide-viewdisp:-moz-full-screen #viewer-options-wrap {display:none !important;}
body.has-transitions .pages .page {
	display:block;
	z-index:1;
}
body.has-transitions .pages .page.activePage {
	z-index:2;
	transform:none;
	opacity:1;
}
.trans-fade { -webkit-animation:transFade .6s ease-in-out; animation:transFade .6s ease-in-out; }
.trans-left { -webkit-animation:transLeft .6s ease-in-out; animation:transLeft .6s ease-in-out; }
.trans-right { -webkit-animation:transRight .6s ease-in-out; animation:transRight .6s ease-in-out; }
.trans-top { -webkit-animation:transTop .6s ease-in-out; animation:transTop .6s ease-in-out; }
.trans-bottom { -webkit-animation:transBottom .6s ease-in-out; animation:transBottom .6s ease-in-out; }
.trans-none { -webkit-animation:transFade 0s; animation:transFade 0s; }
.trans-out, .trans-reverse {
	-webkit-animation-direction:reverse;
	animation-direction:reverse;
}
.trans-out.trans-reverse {
	webkit-animation-direction:normal;
	animation-direction:normal;
}
@keyframes transFade {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes transFade {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes transRight {
	0% { transform:translateX(100%); }
	100% { transform:translateX(0); }
}
@-webkit-keyframes transRight {
	0% { -webkit-transform:translateX(100%); }
	100% { -webkit-transform:translateX(0); }
}
@keyframes transLeft {
	0% { transform:translateX(-100%); }
	100% { transform:translateX(0); }
}
@-webkit-keyframes transLeft {
	0% { -webkit-transform:translateX(-100%); }
	100% { -webkit-transform:translateX(0); }
}
@keyframes transTop {
	0% { transform:translateY(-100%); }
	100% { transform:translateY(0); }
}
@-webkit-keyframes transTop {
	0% { -webkit-transform:translateY(-100%); }
	100% { -webkit-transform:translateY(0); }
}
@keyframes transBottom {
	0% { transform:translateY(100%); }
	100% { transform:translateY(0); }
}
@-webkit-keyframes transBottom {
	0% { -webkit-transform:translateY(100%); }
	100% { -webkit-transform:translateY(0); }
}
#item379 {
	width:138px !important;
	left:483px !important;
	top:853px !important;
	min-height:50px !important;
}

#item827 {
	width:182px !important;
	height:222px !important;
	left:3px !important;
	top:3px !important;
}

#item828 {
	width:188px !important;
	height:228px !important;
	left:462px !important;
	top:680px !important;
}

@keyframes custom-5690 {
	0% {transform:translate(0px,0px);}
	100% {transform:translate(0px,-399px);}
}
@-webkit-keyframes custom-5690 {
	0% {-webkit-transform:translate(0px,0px);}
	100% {-webkit-transform:translate(0px,-399px);}
}
#item5484 {
	width:750px !important;
	height:449px !important;
	background:#00aa32;
	outline:solid 1px #00aa32;
}

#item5506 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5511 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:370px !important;
}

#item5536 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5540 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:318px !important;
}

#item5565 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5569 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:266px !important;
}

#item5594 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5598 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:214px !important;
}

#item5623 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5627 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:162px !important;
}

#item5652 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5656 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:110px !important;
}

#item5681 {
	width:746px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	padding:0px 0px 0px 100px;
}

#item5685 {
	width:752px !important;
	height:54px !important;
	left:-1px !important;
	top:58px !important;
}

#item5478 {
	width:50px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	outline:solid 1px #00aa32;
}

#item5483 {
	width:56px !important;
	height:56px !important;
	left:-3px !important;
	top:-3px !important;
}

#item5471 {
	width:50px !important;
	height:50px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	outline:solid 1px #00aa32;
}

#item5477 {
	width:56px !important;
	height:56px !important;
	left:-3px !important;
	top:-3px !important;
}

#item2707 {
	width:750px !important;
	height:563px !important;
}

#item5849 {
	width:750px !important;
	height:624px !important;
	top:588px !important;
}

#item5854 {
	width:710px !important;
	left:20px !important;
	top:12px !important;
	min-height:1427px !important;
}

#item2702 {
	width:47px !important;
	height:563px !important;
	left:3px !important;
	top:3px !important;
}

#item2699 {
	width:53px !important;
	height:569px !important;
	left:-3px !important;
	top:-3px !important;
}

#item2706 {
	width:47px !important;
	height:563px !important;
	left:3px !important;
	top:3px !important;
}

#item2703 {
	width:53px !important;
	height:569px !important;
	left:700px !important;
	top:-3px !important;
}

#item1172 {
	width:709px !important;
	left:21px !important;
	top:40px !important;
	min-height:297px !important;
}

#item1366 {
	width:145px !important;
	left:20px !important;
	top:897px !important;
	min-height:34px !important;
}

#item5760 {
	width:750px !important;
	height:171px !important;
	left:1px !important;
	top:1013px !important;
	background:#fff;
	padding:20px;
}

@keyframes fadein-5760 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-5760 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item2062 {
	width:709px !important;
	left:21px !important;
	top:40px !important;
	min-height:287px !important;
}

#item1938 {
	width:380px !important;
	left:328px !important;
	top:80px !important;
	min-height:357px !important;
}

#item1963 {
	width:518px !important;
	min-height:86px !important;
}

#item1798 {
	width:380px !important;
	left:328px !important;
	top:80px !important;
	min-height:322px !important;
}

#item1823 {
	width:376px !important;
	min-height:86px !important;
}

#item1678 {
	width:380px !important;
	left:328px !important;
	top:80px !important;
	min-height:322px !important;
}

#item1703 {
	width:342px !important;
	min-height:86px !important;
}

#item1586 {
	width:380px !important;
	left:328px !important;
	top:80px !important;
	min-height:357px !important;
}

#item1611 {
	width:406px !important;
	min-height:86px !important;
}

#item1443 {
	width:380px !important;
	left:328px !important;
	top:80px !important;
	min-height:357px !important;
}

#item1519 {
	width:389px !important;
	min-height:86px !important;
}

#item1440 {
	width:708px !important;
	height:909px !important;
	left:21px !important;
	top:278px !important;
}

#item1423 {
	width:90px !important;
	height:130px !important;
	left:3px !important;
	top:3px !important;
}

#item1420 {
	width:96px !important;
	height:136px !important;
	left:38px !important;
	top:267px !important;
}

#item1427 {
	width:120px !important;
	height:174px !important;
	left:3px !important;
	top:3px !important;
}

#item1424 {
	width:126px !important;
	height:180px !important;
	left:142px !important;
	top:288px !important;
}

#item1431 {
	width:172px !important;
	height:154px !important;
	left:3px !important;
	top:3px !important;
}

#item1428 {
	width:178px !important;
	height:160px !important;
	left:286px !important;
	top:278px !important;
}

#item1435 {
	width:90px !important;
	height:102px !important;
	left:3px !important;
	top:3px !important;
}

#item1432 {
	width:96px !important;
	height:108px !important;
	left:481px !important;
	top:298px !important;
}

#item1439 {
	width:90px !important;
	height:105px !important;
	left:3px !important;
	top:3px !important;
}

#item1436 {
	width:96px !important;
	height:111px !important;
	left:649px !important;
	top:587px !important;
}

#item2257 {
	width:750px !important;
	height:984px !important;
	background:#c2d3e7;
}

#item2228 {
	width:465px !important;
	height:923px !important;
	left:20px !important;
	top:40px !important;
}

#item2368 {
	width:445px !important;
	background:rgba(255,255,255,0.4);
	min-height:2242px !important;
	padding:10px 29px 10px 10px;
}

#item6048 {
	opacity:0.70;
	width:250px !important;
	height:311px !important;
	background:#fff;
	padding:20px;
}

#item6081 {
	width:250px !important;
	height:311px !important;
}

#item6119 {
	opacity:0.70;
	width:250px !important;
	height:311px !important;
	background:#fff;
	padding:20px;
}

#item6181 {
	width:250px !important;
	height:311px !important;
	left:500px !important;
}

#item6093 {
	opacity:0.70;
	width:250px !important;
	height:311px !important;
	background:#fff;
	padding:20px;
}

#item6169 {
	width:250px !important;
	height:311px !important;
	left:250px !important;
}

#item3600 {
	width:145px !important;
	left:550px !important;
	top:1259px !important;
	min-height:34px !important;
}

#item3599 {
	width:173px !important;
	height:84px !important;
	left:3px !important;
	top:3px !important;
}

#item3595 {
	width:179px !important;
	height:90px !important;
	left:574px !important;
	top:1207px !important;
}

#item3503 {
	width:750px !important;
	height:1334px !important;
	top:-40px !important;
	background:#556c7a;
}

#item3885 {
	width:750px !important;
	height:540px !important;
	top:444px !important;
	background:#3a5566;
}

#item3505 {
	width:710px !important;
	left:20px !important;
	top:43px !important;
	min-height:394px !important;
}

#item3530 {
	width:556px !important;
	left:93px !important;
	top:1013px !important;
	min-height:149px !important;
}

#item3674 {
	width:145px !important;
	left:93px !important;
	top:920px !important;
	min-height:34px !important;
}

#item6016 {
	width:145px !important;
	left:585px !important;
	top:1259px !important;
	min-height:34px !important;
}

#item3632 {
	width:173px !important;
	height:84px !important;
	left:3px !important;
	top:3px !important;
}

#item3629 {
	width:179px !important;
	height:90px !important;
	left:574px !important;
	top:1207px !important;
}

@keyframes flyinfrombottom-6184 {
	0% {transform:translate(0px,0px);}
	100% {transform:translate(6px,-1243px);}
}
@-webkit-keyframes flyinfrombottom-6184 {
	0% {-webkit-transform:translate(0px,0px);}
	100% {-webkit-transform:translate(6px,-1243px);}
}
#item3276 {
	width:710px !important;
	background:rgba(255,255,255,0.8);
	min-height:1170px !important;
	padding:28px;
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
