/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left: initial;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent: 0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:1280px; height:800px; }
.page-scale-wrap { width:1280px; height:800px; background: #fff !important; }
.paper-vertical { width:1280px; height:100%; }
.paper-horizontal { width:13320px; height:812px; }
/* ColorBox Core Style:The following CSS is consistent between example themes and should not be altered. */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* Colorbox User Style: */
#colorbox{
	border-radius:12px;
    box-shadow:0 0 10px 10px #CCCCCC;
}
    #colorbox, #cboxOverlay, #cboxContent, .cboxIframe, #cboxLoadedContent, #cboxLoadingOverlay { background:#fff; }
    #cboxContent{ overflow:hidden;}
    #cboxMiddleLeft, #cboxMiddleRight { width:8px; }
    #cboxTopCenter{ height:24px; } 
    #cboxBottomCenter { height:8px; }
	#cboxError{padding:50px;}
	#cboxLoadedContent{margin-top:28px;}
	#cboxTitle, #cboxCurrent { position:absolute; top:4px; left:0; color:#949494; }
	#cboxTitle{ text-align:center; width:100%; }
	#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
	#cboxPrevious, #cboxNext { position:absolute; top:50%; margin-top:-32px; width:33px; height:65px; text-indent:-9999px;}
	#cboxPrevious{left:0px; background:url(../images/lb_controls.png) no-repeat top left; }
	#cboxNext{right:0px; background:url(../images/lb_controls.png) no-repeat top right; }
	#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
	#cboxClose{position:absolute; top:2px; right:0px; display:block; background:url(../images/lb_controls.png) no-repeat top center; width:26px; height:24px; text-indent:-9999px;}
@media all and (max-height:800px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1280px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
.flipwrap {
	-webkit-perspective:800px;
	perspective:800px;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.mso.flipcard-side,.mso.flipcard-up {
	width:100% !important;
	height:100% !important;
}
.flipwrap > .mso > .state {
	-webkit-transition:-webkit-transform 1s;
	transition:transform 1s;
}
.mso.flipcard-side > .state, .mso.flipcard-up > .state {
	display:block;
	opacity:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	pointer-events:auto;
}
.mso.flipcard-side > .state:nth-child(2) {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.mso.flipped.flipcard-side > .state:nth-child(2), .mso.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.mso.flipped.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.mso.flipcard-up > .state:nth-child(2) {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}
.mso.flipped.flipcard-up > .state:nth-child(2), .mso.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}
.mso.flipped.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
#item274 {
	width:501px !important;
	height:54px !important;
	left:720px !important;
	top:428px !important;
}

#item237 {
	width:96px !important;
	height:96px !important;
	left:11px !important;
	top:13px !important;
}

#item247 {
	width:93px !important;
	left:12px !important;
	top:114px !important;
	min-height:35px !important;
}

#item285 {
	width:122px !important;
	height:149px !important;
	left:3px !important;
	top:3px !important;
}

#item282 {
	width:128px !important;
	height:155px !important;
	left:-3px !important;
	top:-3px !important;
}

#item6441 {
	width:291px !important;
	height:31px !important;
	left:42px !important;
	top:38px !important;
}

#item6446 {
	width:72px !important;
	height:72px !important;
	left:8px !important;
	top:10px !important;
}

#item6449 {
	width:70px !important;
	left:9px !important;
	top:86px !important;
	min-height:26px !important;
}

#item6477 {
	width:92px !important;
	height:112px !important;
	left:3px !important;
	top:3px !important;
}

#item6474 {
	width:97px !important;
	height:117px !important;
	left:-3px !important;
	top:-3px !important;
}

#item9850 {
	width:1281px !important;
	height:43px !important;
	background:#4c4c4c;
	outline:solid 1px #4c4c4c;
}

#item9874 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item9882 {
	width:130px !important;
	height:45px !important;
	left:975px !important;
	top:-2px !important;
}

#item9907 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item9911 {
	width:130px !important;
	height:45px !important;
	left:842px !important;
	top:-2px !important;
}

#item9935 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item9939 {
	width:130px !important;
	height:45px !important;
	left:709px !important;
	top:-2px !important;
}

#item9963 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item9967 {
	width:130px !important;
	height:45px !important;
	left:576px !important;
	top:-2px !important;
}

#item9991 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item9995 {
	width:130px !important;
	height:45px !important;
	left:443px !important;
	top:-2px !important;
}

#item10019 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item10023 {
	width:130px !important;
	height:45px !important;
	left:310px !important;
	top:-2px !important;
}

#item10047 {
	width:125px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
}

#item10051 {
	width:130px !important;
	height:45px !important;
	left:177px !important;
	top:-2px !important;
}

#item430 {
	width:1220px !important;
	left:30px !important;
	top:70px !important;
	min-height:709px !important;
}

@keyframes custom-9805 {
	0% {transform:translate(0px,0px);}
	100% {transform:translate(-195px,0px);}
}
@-webkit-keyframes custom-9805 {
	0% {-webkit-transform:translate(0px,0px);}
	100% {-webkit-transform:translate(-195px,0px);}
}
#item9593 {
	width:196px !important;
	height:555px !important;
	background:#4c4c4c;
	outline:solid 1px #00aa32;
}

#item9615 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9626 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:370px !important;
}

#item9651 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9655 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:318px !important;
}

#item9680 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9684 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:266px !important;
}

#item9709 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9713 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:214px !important;
}

#item9738 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9742 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:162px !important;
}

#item9767 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:2px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9771 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:110px !important;
}

#item9796 {
	width:195px !important;
	height:50px !important;
	left:2px !important;
	top:3px !important;
	background:#4c4c4c;
	padding:0px 0px 0px 40px;
}

#item9800 {
	width:200px !important;
	height:53px !important;
	left:-2px !important;
	top:58px !important;
}

#item9587 {
	width:25px !important;
	height:25px !important;
	left:3px !important;
	top:3px !important;
	background:#00aa32;
	outline:solid 1px #00aa32;
}

#item9592 {
	width:30px !important;
	height:30px !important;
	left:-3px !important;
	top:-2px !important;
}

#item9580 {
	width:25px !important;
	height:25px !important;
	left:3px !important;
	top:3px !important;
	background:#4c4c4c;
	outline:solid 1px #00aa32;
}

#item9586 {
	width:30px !important;
	height:30px !important;
	left:-3px !important;
	top:-2px !important;
}

#item10217 {
	width:335px !important;
	height:533px !important;
	left:20px !important;
	top:20px !important;
}

#item10218 {
	width:335px !important;
	min-height:629px !important;
}

#item1110 {
	width:610px !important;
	left:158px !important;
	top:70px !important;
	min-height:217px !important;
}

#item1137 {
	width:103px !important;
	left:158px !important;
	top:722px !important;
	min-height:25px !important;
}

#item1162 {
	width:246px !important;
	height:389px !important;
	left:896px !important;
	top:324px !important;
	background:#fff;
	padding:20px;
}

@keyframes fadein-1162 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-1162 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item6522 {
	width:335px !important;
	left:20px !important;
	top:20px !important;
	min-height:136px !important;
}

#item6548 {
	width:50px !important;
	left:21px !important;
	top:387px !important;
	min-height:13px !important;
}

#item6573 {
	width:375px !important;
	height:115px !important;
	top:419px !important;
	background:#fff;
	padding:20px;
}

@keyframes fadein-6573 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-6573 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item2565 {
	width:716px !important;
	left:51px !important;
	top:70px !important;
	min-height:52px !important;
}

#item3088 {
	width:428px !important;
	top:334px !important;
	min-height:323px !important;
}

#item3113 {
	width:428px !important;
	min-height:80px !important;
}

#item2947 {
	width:428px !important;
	top:207px !important;
	min-height:323px !important;
}

#item2972 {
	width:380px !important;
	min-height:80px !important;
}

#item2827 {
	width:428px !important;
	top:257px !important;
	min-height:288px !important;
}

#item2852 {
	width:345px !important;
	min-height:80px !important;
}

#item2734 {
	width:428px !important;
	top:287px !important;
	min-height:359px !important;
}

#item2759 {
	width:410px !important;
	min-height:80px !important;
}

#item2595 {
	width:428px !important;
	top:257px !important;
	min-height:359px !important;
}

#item2669 {
	width:393px !important;
	min-height:80px !important;
}

#item2592 {
	width:1156px !important;
	height:641px !important;
	left:94px !important;
	top:139px !important;
}

#item3149 {
	width:91px !important;
	height:131px !important;
	left:2px !important;
	top:2px !important;
}

#item3146 {
	width:96px !important;
	height:136px !important;
	left:69px !important;
	top:310px !important;
}

#item3154 {
	width:121px !important;
	height:176px !important;
	left:2px !important;
	top:2px !important;
}

#item3151 {
	width:126px !important;
	height:181px !important;
	left:174px !important;
	top:331px !important;
}

#item3158 {
	width:174px !important;
	height:155px !important;
	left:2px !important;
	top:2px !important;
}

#item3155 {
	width:179px !important;
	height:160px !important;
	left:319px !important;
	top:321px !important;
}

#item3162 {
	width:91px !important;
	height:103px !important;
	left:2px !important;
	top:2px !important;
}

#item3159 {
	width:96px !important;
	height:108px !important;
	left:516px !important;
	top:341px !important;
}

#item3166 {
	width:91px !important;
	height:106px !important;
	left:2px !important;
	top:2px !important;
}

#item3163 {
	width:96px !important;
	height:111px !important;
	left:686px !important;
	top:633px !important;
}

#item9522 {
	width:787px !important;
	height:32px !important;
	top:769px !important;
	background:#d4effd;
}

#item6615 {
	width:335px !important;
	left:20px !important;
	top:20px !important;
	min-height:40px !important;
}

#item7136 {
	width:181px !important;
	left:155px !important;
	top:1px !important;
	min-height:150px !important;
}

#item7161 {
	width:259px !important;
	min-height:39px !important;
}

#item6995 {
	width:181px !important;
	left:155px !important;
	top:3px !important;
	min-height:150px !important;
}

#item7020 {
	width:188px !important;
	min-height:39px !important;
}

#item6875 {
	width:181px !important;
	left:154px !important;
	top:20px !important;
	min-height:133px !important;
}

#item6901 {
	width:171px !important;
	min-height:39px !important;
}

#item6782 {
	width:176px !important;
	left:160px !important;
	top:1px !important;
	min-height:166px !important;
}

#item6807 {
	width:203px !important;
	min-height:39px !important;
}

#item6644 {
	width:186px !important;
	left:159px !important;
	top:1px !important;
	min-height:150px !important;
}

#item6718 {
	width:195px !important;
	left:10px !important;
	min-height:39px !important;
}

#item6641 {
	width:349px !important;
	height:402px !important;
	left:11px !important;
	top:139px !important;
}

#item7196 {
	width:45px !important;
	height:65px !important;
	left:3px !important;
	top:3px !important;
}

#item7193 {
	width:51px !important;
	height:71px !important;
	left:18px !important;
	top:132px !important;
}

#item7201 {
	width:60px !important;
	height:87px !important;
	left:3px !important;
	top:3px !important;
}

#item7197 {
	width:66px !important;
	height:93px !important;
	left:70px !important;
	top:143px !important;
}

#item7205 {
	width:86px !important;
	height:77px !important;
	left:3px !important;
	top:3px !important;
}

#item7202 {
	width:92px !important;
	height:83px !important;
	left:142px !important;
	top:138px !important;
}

#item7209 {
	width:45px !important;
	height:51px !important;
	left:3px !important;
	top:3px !important;
}

#item7206 {
	width:51px !important;
	height:57px !important;
	left:239px !important;
	top:148px !important;
}

#item7213 {
	width:45px !important;
	height:53px !important;
	left:3px !important;
	top:3px !important;
}

#item7210 {
	width:51px !important;
	height:58px !important;
	left:323px !important;
	top:292px !important;
}

#item8091 {
	width:592px !important;
	height:770px !important;
	left:30px !important;
	top:30px !important;
}

#item8101 {
	width:576px !important;
	background:rgba(255,255,255,0.4);
	min-height:1617px !important;
	padding:30px;
}

#item7221 {
	width:375px !important;
	height:502px !important;
	background:#c2d3e7;
}

#item7226 {
	width:233px !important;
	height:533px !important;
	left:20px !important;
	top:20px !important;
}

#item7227 {
	width:222px !important;
	background:rgba(255,255,255,0.4);
	min-height:1009px !important;
	padding:5px 15px 5px 5px;
}

#item3635 {
	opacity:0.70;
	width:427px !important;
	height:190px !important;
	background:#fff;
	padding:20px;
}

#item3623 {
	width:427px !important;
	height:190px !important;
	top:41px !important;
}

#item3671 {
	opacity:0.70;
	width:427px !important;
	height:190px !important;
	background:#fff;
	padding:20px;
}

#item3660 {
	width:427px !important;
	height:190px !important;
	left:853px !important;
	top:41px !important;
}

#item3707 {
	opacity:0.70;
	width:427px !important;
	height:190px !important;
	background:#fff;
	padding:20px;
}

#item3696 {
	width:427px !important;
	height:190px !important;
	left:427px !important;
	top:41px !important;
}

#item7333 {
	opacity:0.70;
	width:125px !important;
	height:138px !important;
	background:#fff;
	padding:20px;
}

#item7321 {
	width:125px !important;
	height:138px !important;
}

#item7369 {
	opacity:0.70;
	width:125px !important;
	height:138px !important;
	background:#fff;
	padding:20px;
}

#item7358 {
	width:125px !important;
	height:138px !important;
	left:250px !important;
}

#item7407 {
	opacity:0.70;
	width:125px !important;
	height:138px !important;
	background:#fff;
	padding:20px;
}

#item7394 {
	width:125px !important;
	height:138px !important;
	left:125px !important;
}

#item10132 {
	width:133px !important;
	left:195px !important;
	top:520px !important;
	min-height:26px !important;
}

#item10160 {
	width:144px !important;
	height:53px !important;
	left:3px !important;
	top:3px !important;
}

#item10157 {
	width:149px !important;
	height:58px !important;
	left:229px !important;
	top:498px !important;
}

#item4075 {
	width:1280px !important;
	height:800px !important;
	background:#556c7a;
}

#item4077 {
	width:700px !important;
	height:800px !important;
	left:580px !important;
	background:#3a5566;
}

#item4079 {
	width:508px !important;
	left:30px !important;
	top:88px !important;
	min-height:628px !important;
}

#item4104 {
	width:628px !important;
	left:622px !important;
	top:623px !important;
	min-height:86px !important;
}

#item4130 {
	width:163px !important;
	left:622px !important;
	top:577px !important;
	min-height:28px !important;
}

#item4167 {
	width:72px !important;
	left:1168px !important;
	top:753px !important;
	min-height:18px !important;
}

#item4195 {
	width:87px !important;
	height:42px !important;
	left:3px !important;
	top:3px !important;
}

#item4192 {
	width:92px !important;
	height:48px !important;
	left:1161px !important;
	top:725px !important;
}

#item7469 {
	width:375px !important;
	height:553px !important;
	background:#556c7a;
}

#item7470 {
	width:375px !important;
	height:217px !important;
	top:242px !important;
	background:#3a5566;
}

#item7471 {
	width:332px !important;
	left:23px !important;
	top:20px !important;
	min-height:222px !important;
}

#item7496 {
	width:335px !important;
	left:20px !important;
	top:477px !important;
	min-height:62px !important;
}

#item10165 {
	width:117px !important;
	left:242px !important;
	top:526px !important;
	min-height:21px !important;
}

#item10193 {
	width:126px !important;
	height:43px !important;
	left:3px !important;
	top:3px !important;
}

#item10190 {
	width:132px !important;
	height:48px !important;
	left:246px !important;
	top:508px !important;
}

#item4382 {
	width:576px !important;
	background:rgba(255,255,255,0.8);
	min-height:626px !important;
	padding:14px;
}

#item4410 {
	width:43px !important;
	height:43px !important;
	left:522px !important;
	top:16px !important;
}

#item7596 {
	width:355px !important;
	background:rgba(255,255,255,0.8);
	min-height:509px !important;
	padding:14px;
}

#item7624 {
	width:34px !important;
	height:34px !important;
	left:311px !important;
	top:542px !important;
}
#in5footer,  #prefooter {display:none;}

[class*=" mq-"]{ display:none; }
.mq-default { display:block; }
@media all and (max-width:505px){ [class*=" mq-"], .mq-default { display:none; } .mq-375 {display:block; } }

